body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 100%;
  max-height: 80%;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
  color: white;
  justify-content: center;
  align-items: center;
}





time{
  display: block
}

header{
  flex-direction: column;
  position: absolute;
  top: 20px;
  z-index: 10; /* Keeps it above the map */
  background: #164256b1; 
  padding: 0.8rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  pointer-events: auto;
  text-align: center;
  height: fit-content;
  max-height: 200px;
  min-height: 120px;

}

header em{
  font-style: italic;
  color: rgb(225, 222, 222);
}

header h1{
  justify-content: center;
  justify-content: center;
  align-items: center;
  display: block;
  font-size: 30px;
  margin:0;
}

header label{
  display: flex;             /* Activates flexbox layout wrapper */
  flex-direction: row;       /* Forces nested text, input, and time onto one line */
  align-items: center;       /* Vertically centers text and slider */
  justify-content: center;   /* Horizontally centers the group */
  gap: 10px;                 /* Adds clean spacing between text and slider */
  width: 100%;               /* Spans full width of header container */
  margin-top: 20px;  

}
#time-slider {
    flex: 1;
    min-width: 200px;
    width: 100%;
    cursor: pointer;
    margin-left: auto;
    margin-top: auto;
}


#selected-time, #any-time {
    font-weight: bold;
    display: inline-block;
}
